{release, {a2a_ggen, "0.2.0"},
 [sasl, ggen_app],
 [{, [{include_lib, "kernel/include/file.hrl"}]}]}.

{extended_start_script, true}.

{sys_config, "config/sys.config"}.

{vm_args, "config/vm.args"}.

{generate_start_script, true}.

{include_src, false}.

{include_erts, true}.

{overlay, [
    {mkdir, "log"},
    {copy, "files", "."},
    {copy, "config", "config"}
]}.