{erl_opts, [
    debug_info,
    warnings_as_errors,
    {platform_define, "^[0-9]+", "ERLANG_OTP_23"}
]}.

{deps, [
    {cowboy, "2.12.0"},
    {jiffy, "1.1.1"},
    {uuid, "2.0.6"},
    {jsx, "3.1.6"},
    {hackney, "1.20.1"}
]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [
            {meck, "0.9.2"},
            {proper, "1.4"},
            {eunit_formatters, "0.5"}
        ]}
    ]},
    {dev, [
        {erl_opts, [debug_info, {d, 'DEBUG'}]},
        {deps, [
            {rebar3_hex, "4.0.0"},
            {rebar3_lint, "0.1.2"}
        ]}
    ]}
]}.

{plugins, [
    {rebar3_hex, "4.0.0"},
    {rebar3_lint, "0.1.2"}
]}.

{xref_checks, [
    undefined_function_calls,
    % fail_on_warning,
    deprecated_functions
]}.

{cover_enabled, true}.

{eunit_opts, [
    {report, {eunit_surefire, [{dir, "."}]}},
    {verbose, true}
]}.

{shell, [
    {apps, [elrmcp_bridge]},
    {config, "config/bridge.config"},
    {vm_args, "config/vm.args"}
]}.