{relx, [
    {release, {a2a_erl, "0.1.0"}, [
        a2a_erl,
        sasl,
        inets,
        crypto,
        cowboy,
        jiffy,
        ranch,
        cowlib,
        pc
    ]},
    {release, {a2a_erl, "0.2.0"}, [
        a2a_erl,
        sasl,
        inets,
        crypto,
        cowboy,
        jiffy,
        ranch,
        cowlib,
        pc
    ]},
    {dev_mode, false},
    {include_erts, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {include_src, false},
    {debug_info, keep},
    {extended_start_script, true}
]}.
